<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czqx.coupon.mapper.CouponMapper">

    <insert id="insert" parameterType="com.czqx.coupon.domain.CouponDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO coupon
        (
          id,
          name,
          discount_price,
          use_threshold,
          receive_count,
          issue_count,
          receive_start_time,
          receive_end_time,
          use_start_time,
          use_end_time
        )
        VALUES
        (
          #{id},
          #{name},
          #{discountPrice},
          #{useThreshold},
          #{receiveCount},
          #{issueCount},
          #{receiveStartTime},
          #{receiveEndTime},
          #{useStartTime},
          #{useEndTime}
        )
    </insert>

    <select id="get" parameterType="long" resultType="com.czqx.coupon.domain.CouponDO">
        SELECT
          id,
          name,
          discount_price,
          use_threshold,
          receive_count,
          issue_count,
          receive_start_time,
          receive_end_time,
          use_start_time,
          use_end_time
        FROM coupon
        WHERE id = #{value} and del_flag = 0
    </select>

    <update id="update">
        UPDATE coupon
        <set>
            <if test="receiveCount != null">receive_count = #{receiveCount}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="list" resultType="com.czqx.coupon.domain.CouponDO">
        SELECT
        id,
        name,
        discount_price,
        use_threshold,
        receive_count,
        issue_count,
        receive_start_time,
        receive_end_time,
        use_start_time,
        use_end_time
        FROM coupon
        <where>status = 0
          <if test="name != null and name !=''"></if>
        </where>
        <if test="limit != null">
            limit #{limit},#{pageSize}
        </if>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM coupon
        <where>status = 0
          <if test="name != null and name != ''"></if>
        </where>
    </select>
</mapper>