<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czqx.mhw.mapper.OrbRankMapper">

    <select id="getList" resultType="com.czqx.mhw.domain.OrbRankDO">
        SELECT id,name FROM mhw_orb_rank
        <if test="limit != null">limit #{limit},#{pageSize}</if>
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM mhw_orb_rank
    </select>

    <insert id="insert" parameterType="com.czqx.mhw.domain.OrbRankDO">
        INSERT INTO mhw_orb_rank
        (
          name
        )
        VALUES
        (
          #{name}
        )
    </insert>
</mapper>